body {
    background-color: #eee;
    font-family: "Segoe UI", sans-serif;
  }
  h1, p {
    text-align: center;
  }
  #img-div {  
    padding: 10px;
    margin: 0 auto;  
  }
  img {
    max-width:100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  figcaption {
    text-align: center;
    margin: 15px auto;
  }
  h3 {
    text-align: center;
    margin: 50px auto;
  }
  ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
  }
  li {
    margin: 15px auto;
    line-height: 1.3;
  }
  blockquote {
    font-style: italic;
    max-width: 550px;
    text-align: left;
    margin: auto;
  }